* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top {
    background-color: #00CCE4;
    color: #FFF;
    text-align: center;
    padding: 2rem 0 1rem;

}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.create-task {
    position: relative;
    margin: 0 auto;
    width: 36rem;
    border-radius: 10px;
}
#title, #message {
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: inherit;
    font-size: 1.5rem;
}
#title {
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}
#message {
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    resize: none;
}
#title:focus, #message:focus {
    outline: none;
}
hr {
    height: 1px;
    width: 100%;
    background-color: #00CCE4;
    border: none;
}
.plus {
    position: relative;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 0.3rem 0.8rem 0.2rem;
    font-size: 2rem;
    background-color: #00CCE4;
    color: #FFF;
    position: absolute;
    bottom: 5px;
    right: 7px;
    transition: all ease-in-out 300ms;
}
.plus:hover {
    background-color: #49ebfd;
    cursor: pointer;
}
.plus:active {
    bottom: -0.5px;
}
.tasks {
    width: 70rem;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
}
.task {
    border: 2px solid #00CCE4;
    position: relative;
    margin: 1rem auto;
    width: 32.5rem;
    border-radius: 10px;
    transition: ease-out 300ms;
}
.task-title, .task-message {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    overflow: auto;
}
.task-title:focus, .task-message:focus {
    outline: none;
}
.task-title {
    background-color: #00CCE4;
    color: #FFF;
    font-weight: 700;
}
.task-title > p {
    margin-right: auto;
}
.task-message > p {
    width: 90%;
}

.delete, .check, .edit {
    position: relative;
    color: #FFF;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.delete:hover, .check:hover, .edit:hover {
    cursor: pointer;
}
.delete:active, .check:active, .edit:active {
    top: 1px;
}
.done {
    opacity: 0.5;
}

[contenteditable] {
    outline: 0px solid transparent;
}

@media screen and (max-width:1120px) {
    .tasks {
        width: 32.5rem;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:580px) {
    h1 {
        font-size: 2.5rem;
    }
    .create-task {
        width: 98%;   
    }
    .tasks {
        padding: 0;
        width: 100%;
    }
    .task {
        width: 89%;
    }
}

@media screen and (max-width:400px){
    .top {
        padding-bottom: 2rem;
    }
    .plus {
        bottom: -15px;
        right: 42%;
    }
    .plus:active {
        bottom: -15px;
    }
    .delete, .check, .edit {
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }
}
